In [ ]:
A=["red","blue","yellow",1,2,3]
print(A)

['red', 'blue', 'yellow', 1, 2, 3]

In [ ]:
s=["messi","ronaldo","neymer",10,7,11]
print("s")

s

In [ ]:
print(len(A))

6

In [ ]:
print(A[-2])

2

In [ ]:
a=[1,2,3]
b=[4,5,6]
sum=a+b
print(sum)

[1, 2, 3, 4, 5, 6]

In [ ]:
#to update
a=[1,2,3]
a[2]=6
print(a)

[1, 2, 6]

In [ ]:
a.append("banana")
print(a)

[1, 2, 6, 'banana']

In [ ]:
a.append(10)
print(a)

[1, 2, 6, 'banana', 10]

In [ ]:
a.insert(1,55)
print(a)

[33, 55, 1, 2, 6, 'banana', 10]

In [ ]:
a[0]=44
print(a)

[44, 55, 1, 2, 6, 'banana', 10]

In [ ]:
#extend
y=[9,8,7]
new_elements=["a","b","c"]
y.extend(new_elements)
print(y)

[9, 8, 7, 'a', 'b', 'c']

In [ ]:
#remove
y.remove(7)
print(y)

[9, 8, 'a', 'b', 'c']

In [ ]:
#clear all data
y.clear()
print(y)

[]

In [ ]:
#delete
del y

NameError: name 'y' is not defined

In [ ]:
del a

In [ ]:
#tuple method
B=("red","green","yellow")
print(B)

('red', 'green', 'yellow')

In [ ]:
print(type(B))

<class 'tuple'>

In [ ]:
print(type(A))

<class 'list'>

In [ ]:
print(len(B))

3

In [ ]:
A=(1,2,3,)
C=(4,5,6)
sum=A+C
print(sum)

(1, 2, 3, 4, 5, 6)

In [ ]:
A.append(0)
print(A)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
A={"kadmat","kiltan","agatti"}
print(A)

{'kadmat', 'agatti', 'kiltan'}

In [ ]:
print(A[0])

TypeError: 'set' object is not subscriptable

In [ ]:
print("kadmat" in A)

True

In [ ]:
print("bitira" in A)

False

In [ ]:
A.add("bitira")
print(A)

{'kadmat', 'agatti', 'bitira', 'kiltan'}

In [ ]:
A.update(["amini","leo"])
print(A)

{'kadmat', 'agatti', 'leo', 'amini', 'bitira', 'kiltan'}

In [ ]:
a={"messi","ramos","carlos"}
print(a)

{'messi', 'ramos', 'carlos'}

In [ ]:
a.update(["ronaldo","xavi"])
print(a)

{'xavi', 'messi', 'ramos', 'ronaldo', 'carlos'}

In [ ]:
a=5
b=5
sum=a+b
print(sum)

10

In [ ]:
a=int(input("enter first num. :"))
b=int(input("enter second num. :"))
addition=(a+b)
print("addition is :",addition)

enter first num. :4
enter second num. :6
addition is : 10

In [ ]:
a=int(input("enter first num. :"))
b=int(input("enter second num. :"))
subtraction=(a-b)
print("subtraction is :",subtraction)

enter first num. :3
enter second num. :2
subtraction is : 1

In [ ]:
a=input("enter username. :")
print("Hy ",a)

enter username. :riyaz
Hy  riyaz

In [ ]:
a={"kochi","kozhikode","kollam"}
print(a)

{'kochi', 'kollam', 'kozhikode'}

In [ ]:
a.remove("kochi")
print(a)

{'kollam', 'kozhikode'}

In [ ]:
a.discard("kollam")
print(a)

{'kozhikode'}

In [ ]:
a.remove("kiltan")
print(a)

KeyError: 'kiltan'

In [ ]:
a.discard("kadmat")
print(a)

{'kozhikode'}

In [ ]:
a={1,2,3,4}
b={5,6,3,8}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
h={1,2,3,4,5}
g={6,5,8,3,4}
j=g-h
print(j)

{8, 9, 6}

In [ ]:
d=h.difference(g)
print(d)

{1, 2, 3}

In [ ]:
j=g&h
print(j)

{4, 5}

In [ ]:
i=h.intersection(g)
print(i)

{4, 5}

In [ ]:
a.clear()
print(a)

set()

In [ ]:
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
A={"lagoon","coral","sea"}
B={"east","west","north"}
A.remove("lagoon")
print(A)

{'sea', 'coral'}

In [ ]:
A.discard("coral")
print(A)

{'sea'}

In [ ]:
c=A.union(B)
print(c)

{'east', 'sea', 'west', 'north'}

In [ ]:
B.remove("east")
print(B)

{'west', 'north'}

In [ ]:
i=A.intersection(B)
print(i)

set()

In [ ]:
mega={"name":"riyas","email":"leoriyas30@gamil.com","phone":846273648}
print(mega)

{'name': 'riyas', 'email': 'leoriyas30@gamil.com', 'phone': 846273648}

In [ ]:
a=mega["name"]
print(a)

riyas

In [ ]:
a=mega.get("email")
print(a)

leoriyas30@gamil.com

In [ ]:
mega["name"]="ansar"
print(mega)

{'name': 'ansar', 'email': 'leoriyas30@gamil.com', 'phone': 846273648}

In [ ]:
mega["age"]=99
print(mega)

{'name': 'ansar', 'email': 'leoriyas30@gamil.com', 'phone': 846273648, 'age': 99}

In [ ]:
#copy
mega1=mega.copy()
print(mega1)

{'name': 'ansar', 'email': 'leoriyas30@gamil.com', 'phone': 846273648, 'age': 99}

In [ ]:
mega.pop("name")
print(mega)

{'email': 'leoriyas30@gamil.com', 'phone': 846273648, 'age': 99}

In [ ]:
del mega["phone"]
print(mega)

{'email': 'leoriyas30@gamil.com', 'age': 99}

In [ ]:
a=("kadmat")
print(a)

kadmat

In [ ]:
a[0]
print(a)

kadmat

In [ ]:
print(a[1:5])

adma

In [ ]:
b="pondicherry"
print(b)

pondicherry

In [ ]:
print(b[1:4])

ond

In [ ]:
a="      hello     "
print(a)

      hello

#strip method
print(a)
print(a.strip())

In [ ]:
a="GOVERMENT"
print(a.lower())

goverment

In [ ]:
a="goverment"
print(a.upper())

GOVERMENT

In [ ]:
b="THE GoGSVDdh"
print(b.swapcase())

the gOgsvdDH

In [ ]:
a="learn python"
print(a.replace("p","h"))

learn hython

In [ ]:
a="hellow kochi"
result=a.endswith("kochi")
print("Ends with''kochi:",result)

Ends with''kochi: True

In [ ]:
result=a.startswith("hellow")
print(result)

True

In [ ]:
a=11
b=23
if b > a:
  print("b is greater than a")
else:
  print("wrong")

b is greater than a

In [ ]:
a=int(input("enter a number"))
if a>0:
  print("positive number")
else:
  print("negative number")

enter a number4
positive number

In [ ]:
a=int(input("Enter a number: "))
if a>0:
  print("Positive number")
elif a==0:
  print("zero")
else:
  print("Negative number")

Enter a number: 4
Positive number

In [ ]:
a=int(input("Enter age: "))
if a>=25:
 print("partcipate the election")
elif a>=18:
  print("eligible to vote")
else:
  print("not eligible to vote")

Enter age: 13
not eligible to vote

In [ ]:
a=int(input("Enter a number: "))
if a%2==0:
 print("even number")
else:
  print("odd number")

Enter a number: 3
odd number

In [ ]:
a=["leo","rono","ney"]
for i in a:
  print(i)

leo
rono
ney

In [ ]:
a={"name":"riyas","age":17,"phn no":9188340488}
for i,y in a.items():
  print(i,y)

name riyas
age 17
phn no 9188340488

In [ ]:
for i in a:
  print(dict(a))

{'name': 'riyas', 'age': 17, 'phn no': 9188340488}
{'name': 'riyas', 'age': 17, 'phn no': 9188340488}
{'name': 'riyas', 'age': 17, 'phn no': 9188340488}

In [ ]:
for s in range(2,11,):
  print(s)

2
3
4
5
6
7
8
9
10

In [ ]:
sum=0
for s in range(10,21):
 sum=sum+s
print(sum)

165

In [ ]:
sum=0
for s in range(11,21,2):
 sum=sum+s
print(sum)

75

In [ ]:
a=int(input("Enter a number: "))
for s in range(0,a+1):
  print(s)

Enter a number: 3
0
1
2
3

In [ ]:
a=[100,200,300,400,500]
a.reverse()
print(a)

[500, 400, 300, 200, 100]

In [ ]:
b=[100,200,300,400,500]
b=b[::-1]
print(b)

[500, 400, 300, 200, 100]

In [ ]:
num=[2,3,4,5,6]
result=[]
for i in num:
    result.append(i * i)
print(result)

[4, 9, 16, 25, 36]

In [ ]:
num=[1,2,3,4,5,6,]
result=[i*i  for i in num]
print(result)

[1, 4, 9, 16, 25, 36]

In [ ]:
a=["hello","take"]
b=["dear","sir"]
result=[c+d for c in a for d in b]
print(result)

['hellodear', 'hellosir', 'takedear', 'takesir']

In [ ]:
a=["lionel","cristiano"]
b=["messi","ronaldo"]
c=[x+y for x in a for y in b]
print(c)

['lionelmessi', 'lionelronaldo', 'cristianomessi', 'cristianoronaldo']

In [ ]:
a=["kadmat","apple","","","kiltan",1,3]
b=list(filter(None,a))
print(b)

['kadmat', 'apple', 'kiltan', 1, 3]

In [ ]:
a=['apple','cherry','pappaya']
b=[1,2,3]
c=dict(zip(a,b))
print(c)

{'apple': 1, 'cherry': 2, 'pappaya': 3}

In [ ]:
a={
    'physics': 82,'maths':90,'botony':71
}
c=min(a)
print(c)

botony

In [ ]:
a={
    'physics': 82,'maths':45,'botony':71
}
print(max(a,key=a.get))

physics

In [ ]:
a=9
b=5
print(a+b)

14

In [ ]:
x= 8
x += 4
print(x)

12

In [ ]:
x = 6
x-= 5
print(x)

1

In [ ]:
x=4
y=9
print(x!=y)

True

In [ ]:
num1, num2 = 0,1
n=int(input("enter a number"))
for i in range(n):
  print(num1,end="  ")
  result=num1+num2
  num1=num2
  num2=result

enter a number6
0  1  1  2  3  5

In [ ]:
def factorial(n):

    return 1 if (n==1 or n==0) else n * factorial(n - 1)
n=int(input("enter a number  "))
print("Factorial of",n,"is",factorial(n))

enter a number  8
Factorial of 8 is 40320

In [ ]:
n=int(input("enter a number  "))
factorial = 1
if n < 0:
  print("no factorial")
elif n==0:
  print("factorial is 1")
else:
  for i in range (1,n+1):
    factorial = factorial*i
  print("factorial of the given number is:",factorial)

enter a number  4
factorial of the given number is: 24

In [ ]:
#program to count the digits in the given number
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:456
The number of digits in the number are: 3

In [ ]:
n=int(input("enter a number :"))
count=0
while n>0:
  count+=1
  n//=10
print(count)

enter a number :100
3

In [ ]:
a=input("enter a name : ")
b = {}
for c in a:
    if c in b:
        b[c] += 1
    else:
        b[c] = 1
print ("Occurrence of all characters :  "+ str(b))

enter a name : apple
Occurrence of all characters :{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
#continue statement
a=["apple","orange","banana","pappaya"]
for i in a:
  if i=="banana":
    continue
  print(i)

apple
orange
pappaya

In [ ]:
#break statement
a=["apple","orange","banana","pappaya"]
for i in a:
  if i=="banana":
    break
  print(i)

apple
orange

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i==6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
count=0
while count<10:
  count+=1
  if count==6:
   continue
  print(count)

1
2
3
4
5
7
8
9
10

In [ ]:
count=0
while count<10:
  count+=1
  if count==6:
   break
  print(count)

1
2
3
4
5

In [ ]:
def message():
  print("hai")
message()

hai

In [ ]:
def message(name):
  print("Hai "+ name)
message("pushpa")

Hai pushpa

In [ ]:
def addition(num1,num2):
     print(num1+num2)
addition(3,4)

7

In [ ]:
def addition(num1,num2,num3):
     print(num1+num2+num3)
addition(3,4,3)

10

In [ ]:
def square(num1):
     print(num1*num1)
square(4)

16

In [ ]:
import math
a=int(input("enter a number"))
result=math.sqrt(a)
print(result)

enter a number4
2.0

In [ ]:
import math
a=int(input("enter first number"))
b=int(input("enter the power"))
result=math.pow(a,b)
print(result)

enter first number5
enter the power5
3125.0

In [ ]:
def mult():
 a=int(input("enter the number: "))
 d=int(input("enter range number"))
 for b in range(1,d+1):
    result=a*b
    print(a,"*",b,"=",result)
mult()

enter the number: 5
enter range number3
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15

In [ ]:
def sum(numbers):
  total=0
  for i in numbers:
     total=total +i
  return total
print(sum([1,2,3,4]))

10

In [ ]:
def mult(numbers):
  total=1
  for i in numbers:
     total=total *i
  return total
print(mult([1,2,3,4]))

24

In [ ]:
def reverse(a):
  b=a[::-1]
  return b
c="riyas"
print(reverse(c))

sayir

In [ ]:
def evennum(a):
 for i in a:
  if i%2==0:
    print(i)
p=[1,2,3,4,5,6,7,8,9,10]
evennum(p)

2
4
6
8
10

In [ ]:
a=input("Enter a string :")
a=a.replace(" ","")
a=a.lower()
if a==a[::-1]:
  print("the string is palindrome")
else:
  print("the string is not palindrome")

Enter a string :Mam
the string is palindrome

In [ ]:
def add(a,b):
    return a+b
def sub(a,b):
   return a-b
def mult(a,b):
   return a*b
def div(a,b):
   if b==0:
    print("invalid")
   else:
    return a/b
while True:
  print("select opration")
  print("1.Addition")
  print("2.subtrct")
  print("3.multiply")
  print("4.divide")
  print("5.exit")
  choice=input ("enter a choice(1/2/3/4/5):")
  if choice=='5':
    print("existing the calculator")
    break
  if choice>'5':
    print("invalid choice")
    break
  num1=float(input("enter first number"))
  num2=float(input("enter second number"))
  if choice=='1':
    print("result",add(num1,num2))
  elif choice=='2':
    print("result",sub(num1,num2))
  elif choice=='3':
    print("result",mult(num1,num2))
  elif choice=='4':
    print("result",div(num1,num2))
  else:
    print("invalid choice")

select opration
1.Addition
2.subtrct
3.multiply
4.divide
5.exit
enter a choice(1/2/3/4/5):6
invalid choice